* {
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease;
}

/* mobile version */
@media only screen and (max-width: 600px) {
    * {
        padding: 0 2px;
    }
}