@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  src: url(../fonts/Rajdhani-Medium.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

div > canvas {
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4C7BFE;
  border-bottom-right-radius: 10px;
}

path {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
}

/* mobile version */
@media only screen and (max-width: 900px) {
    * {
        padding: 0 2px;
    }
}

iframe {
    padding: 0;
    display: none;
}