:root {
    --light-mode-bg: #ffffff;
    --light-mode-text: #000000;
    --dark-mode-bg: #252525;
    --dark-mode-text: #F6F6F6;
}

.bg[data-theme='dark'] {
    background-color: var(--dark-mode-bg);
    position: absolute;
    z-index: -10000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

@media only screen and (min-width: 900px) {
    .navbar {
        position: absolute;
        top: 0;
        left: 10%;
        z-index: 1000;
        width: 80%;
        padding: 0;
        padding-top: 1%;
    }

    .dumbsplainbody {
        margin-top: 20px;
        height: 100%;
    }
}

.introduction{
    padding: 0;
}

@media only screen and (min-width: 900px) {

    .introduction {
        margin-bottom: 2%;
    }

}

/* dumbsplainlogo is a class that displays a logo from the public src folder */
.dumbsplainlogo {
    background-image: url('../../public/dumbsplainlogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 35px;
    width: 8%;
    min-width: 150px;
}

.utilitybuttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.lightmode {
    background-image: url('../../public/lightmode.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 2.8em;
    width: 3.0em;
    cursor: pointer;
    padding: 0;
    margin-left: 5%;
}

.darkmode {
    background-image: url('../../public/darkmode.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 2.8em;
    width: 3.0em;
    cursor: pointer;
    padding: 0;
    margin-left: 5%;
}

.infobutton {
    background-image: url('../../public/i.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.6em;
    width: 1.6em;
    cursor: pointer;
    padding: 0;
    margin-left: 5%;
}

.leaderboard {
    background-image: url('../../public/leaderboard.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.6em;
    width: 1.6em;
    cursor: pointer;
    padding: 0;
    margin-left: 5%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.totd {
    font-size: 0.5em;
    color: #454545;
}
.totd[data-theme='dark'] {
    color: var(--dark-mode-text);
}

.topic {
    font-size: 0.8em;
    color: #4C7BFE;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 0.5em;
    color: #454545;
    /* make thin */
    font-weight: 300;
}
.subtitle[data-theme='dark'] {
    color: var(--dark-mode-text);
}

.explanationcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.textarea {
    width: 80%;
    height: 300px;
    border: 1px solid #c7c7c7;
    border-radius: .3125em;
    margin-top: .625em;
    margin-bottom: .625em;
    font-family: 'Roboto', sans-serif;
    resize: none;
    overflow-y: scroll;
}

/* make text area recognise line breaks and spaces */
.textarea p {
    white-space: pre-wrap;
    padding: 0.325em;
}

.textarea p {
    padding: 2em 1.5em;
    font-size: 0.5em;
}
.textarea p[data-theme='dark'] {
    color: var(--dark-mode-text);
}

.optionscontainer {
    height: 100%;
    padding: 0;
    margin-top: 0.5%;
}

.dumbnesslevelscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    margin-top: 15px;
}

.dumbnesslevels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: .625em;
    flex-wrap: wrap;
    height: 100%;
}

.dumbnesslevels.greyed {
    /* greyscale everything inside */
    filter: grayscale(100%);
    /* fade */
    opacity: 0.5;
    /* make everything unaccessible */
    pointer-events: none;
}

.dumbnesslevel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: #4C7BFE; */
    padding-bottom: .625em;
    border-radius: .3125em;
    z-index: 0;
    /* max-width: 15%; */
    /* height: 150px; */
    width: 10vw;
    aspect-ratio: 5/4;
    /* padding: auto; */
    overflow: hidden;
}
.dumbnesslevel:hover {
    cursor: pointer;
}
/* .dumbnesslevel.greyed {
    filter: grayscale(100%);
    opacity: 0.5;
} */
/* .dumbnesslevel.greyed:hover {
    cursor: default;
    background: linear-gradient(to top, rgba(123, 123, 123, 0.1), #ffffff 75%);
} */

.bgcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
    height: 75%;
    width: 70%;
    bottom: 0;
    background-color: #4C7BFE;
    opacity: 0.1;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* hovering on dumbness level changes the bg */
.dumbnesslevel:hover .bgcontainer {
    background-color: #8CA8FF;
    opacity: 1;
}
.dumbnesslevel.selected .bgcontainer {
    background-color: #8CA8FF;
    opacity: 1;
}
.dumbnesslevel.selected .avatarlabel {
    color: #ffffff;
}

.avatar1 {
    background-image: url('../../public/dumblevel1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7vw;
    width: 7vw;
    position: relative;
    z-index: 2;
}

.avatar2 {
    background-image: url('../../public/dumblevel2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7vw;
    width: 7vw;
    position: relative;
    z-index: 2;
}

.avatar3 {
    background-image: url('../../public/dumblevel3.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7vw;
    width: 7vw;
    position: relative;
    z-index: 2;
}

.avatar4 {
    background-image: url('../../public/dumblevel4.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7vw;
    width: 7vw;
    position: relative;
    z-index: 2;
}

.avatar5 {
    background-image: url('../../public/dumblevel5.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7vw;
    width: 7vw;
    position: relative;
    z-index: 2;
}

.avatarlabel {
    font-size: 0.4em;
    color: #000000;
    margin-top: .3125em;
    position: relative;
    z-index: 2;
    padding: 0;
    margin-top: 15px;
    text-align: center;
}
.avatarlabel[data-theme='dark'] {
    color: var(--dark-mode-text);
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 0;
}

.dumbsplainbutton {
    background-color: #4C7BFE;
    border: none;
    border-radius: 50vh;
    padding: .325em;
    margin-bottom: .625em;
    font-weight: 700;
}
.dumbsplainbutton:hover {
    background-color: #3a6bce;
    cursor: pointer;
}

.dumbsplainbuttontext {
    font-size: 0.5em;
    color: #ffffff;
}

.answeroptionscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 100%;
    margin-top: 15px;
}

.answeroptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin-bottom: .625em;
}

.answeroptions.block {
    pointer-events: none;
}

.answeroption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: #4C7BFE; */
    padding-bottom: .625em;
    border-radius: .3125em;
    z-index: 0;
    /* max-width: 15%; */
    /* height: 150px; */
    width: 10vw;
    aspect-ratio: 5/4;
    /* padding: auto; */
}

.bgcontaineranswer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
    height: 75%;
    width: 70%;
    bottom: 0;
    background-color: #4C7BFE;
    opacity: 0.1;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.answeroption:hover .bgcontaineranswer {
    background-color: #8CA8FF;
    opacity: 1;
    cursor: pointer;
}

.answeroption:hover .answeroptiontext {
    color: #ffffff;
    cursor: pointer;
}

.answeroptiontext {
    font-size: 1em;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 35%;
}
.answeroptiontext[data-theme='dark'] {
    color: var(--dark-mode-text);
}
.answeroption.correct .answeroptiontext[data-theme='dark'] {
    color: black;
}
.answeroption.correcthighlight .answeroptiontext[data-theme='dark'] {
    color: black;
}
.answeroption.selected .answeroptiontext[data-theme='dark'] {
    color: black;
}

.answeroption.selected .bgcontaineranswer {
    background-color: #8CA8FF;
    opacity: 1;
    color: #ffffff;
}
.answeroption.selected .answeroptiontext {
    color: #ffffff;
}

.answeroption.wrong .bgcontaineranswer {
    background: #D65757;
    color: #ffffff;
}

.answeroption.correct .bgcontaineranswer {
    background: #32BCA3;
    color: #ffffff;
}

.answeroption.correcthighlight .bgcontaineranswer {
    background: #DEFEF8;
}

.waitingbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.waitingarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
    border: 1px solid #c7c7c7;
    border-radius: .3125em;
    margin-top: .625em;
    margin-bottom: .625em;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.waitingtext {
    font-size: 0.7em;
    color: #454545;
    text-align: center;
    margin: 0 5%;
    margin-top: 4%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.waitingtext[data-theme='dark'] {
    color: var(--dark-mode-text);
}

.waitingtime {
    font-size: 1.8em;
    color: #4C7BFE;
    font-weight: 700;
    text-align: center;
    z-index: 2;
}

.dumbnesscarousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    padding: 0;
    overflow: visible;
    position: absolute;
    overflow: hidden;
    bottom: 20vh;
    z-index: 1000;
}

.leftarrow {
    height: 30px;
    width: 30px;
    background-image: url('../../public/leftarrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 5%;
    position: absolute;
    left: 0;
}

.rightarrow {
    height: 30px;
    width: 30px;
    background-image: url('../../public/rightarrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 5%;
    position: absolute;
    right: 0;
}

.carouseldumbnesslevel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    flex-shrink: 0;
}

.carouseldumbnesslevel.selected .carouselbgcontainer {
    background-color: #8CA8FF;
    opacity: 1;
}

.carouseldumbnesslevel.selected .avatarlabel {
    color: #ffffff;
}

.carouseldumbnesslevel.selected .dumbnessleveltext {
    color: #ffffff;
}

.carouseldumbnesslevel.wrong .carouselbgcontainer {
    background-color: #D65757;
    opacity: 1;
}

.carouseldumbnesslevel.correct .carouselbgcontainer {
    background-color: #32BCA3;
    opacity: 1;
}

.carouseldumbnesslevel.correcthighlight .carouselbgcontainer {
    background-color: #DEFEF8;
}

.carouselbgcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    flex-shrink: 0;
    background-color: #4C7BFE;
    opacity: 0.1;
}

.mcq-question {
    font-size: 0.7em;
    color: #454545;
    margin: 2% 0;
    font-weight: 500;
}
.mcq-question[data-theme='dark'] {
    color: var(--dark-mode-text);
}

.mcq-option {
    font-size: 0.6em;
    color: #454545;
    margin-top: 1%;
}
.mcq-option[data-theme='dark'] {
    color: var(--dark-mode-text);
}

/* .mcq-options ol {
    list-style-type: upper-alpha;
    padding-left: 5%;
} */

.mcq-options ol {
    counter-reset: custom-counter;
    list-style-type: none;
    padding-left: 0;
  }

  .mcq-options ol li {
    position: relative;
    padding-left: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
  }

.mcq-options ol li::before {
    counter-increment: custom-counter;
    content: counter(custom-counter, lower-alpha);
    position: absolute;
    left: 0;
    background-color: #F2F2F2;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    font-size: 0.6em;
    padding: 4px;
    color: #8CA8FF;
  }
  .mcq-options ol li[data-theme='dark']::before {
    background-color: black;
  }


/* for anything with min width 600px */
@media screen and (min-width: 900px) {
    .dumbnesscarousel {
        display: none;
    }
    .dumbnesscarousel .leftarrow {
        display: none;
    }
    .dumbnesscarousel .rightarrow {
        display: none;
    }
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {

    .dumbsplainbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttoncontainer {
        position: absolute;
        bottom: 6vh;
    }

    .carouseldumbnesslevel {
        justify-content: center;
        align-items: center;
        z-index: 0;
        position: relative;
        width: 150px;
        height: 120px;
        padding: 0;
        margin: 0;
    }

    .carouselbgcontainer {
        position: absolute;
        height: 75%;
        bottom: 0;
        background-color: #4C7BFE;
        opacity: 0.1;
        z-index: 1;
        width: 55%;
        padding: 0 17.5%;
    }

    .carouselelementscontainer {
        display: flex;
        position: relative;
        width: 100%;
        padding: 0;
        /* fade out on left and right edges */
    }

    .lightmode {
        display: none;
    }

    .darkmode {
        display: none;
    }

    .totd {
        font-size: 0.5em;
    }

    .topic {
        font-size: 1.0em;
    }

    .subtitle {
        display: none;
    }

    .textarea {
        width: 90%;
        height: 300px;
    }

    .textarea p {
        padding: .3125em;
        font-size: 0.5em;
    }

    .dumbnesslevels {
        justify-content: center;
        flex-wrap: wrap;
    }

    .dumbnesslevel {
        /* remove the bg gradient and replace with a solid bg */
        /* background: rgba(123, 123, 123, 0.1);
        justify-content: center;
        align-items: center;
        margin: .1875em;
        padding: .1875em; */
        display: none;
    }
    .dumbnesslevel:hover {
        background: #4C7BFE;
    }

    .dumbnesslevel.selected {
        background: #4C7BFE;
    }

    .dumbnesslevel.greyed {
        filter: grayscale(100%);
        opacity: 0.5;
    }

    .avatar1 {
        position: absolute;
        top: 0;
        width: 70%;
        height: 70%;
        z-index: 5;
    }

    .avatar2 {
        position: absolute;
        top: 0;
        width: 70%;
        height: 70%;
        z-index: 5;
    }
    .avatar3 {
        position: absolute;
        top: 0;
        width: 70%;
        height: 70%;
        z-index: 5;
    }

    .avatar4 {
        position: absolute;
        top: 0;
        width: 70%;
        height: 70%;
        z-index: 5;
    }

    .avatar5 {
        position: absolute;
        top: 0;
        width: 70%;
        height: 70%;
        z-index: 5;
    }

    .avatarlabel {
        position: absolute;
        z-index: 5;
        bottom: 6%;
        padding: 5% 0;
        font-size: 10px;
    }

    /* div.answeroptions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: .625em;
        margin-bottom: .625em;
        flex-wrap: wrap;
    } */

    .answeroptions {
        display: none;
    }

    .answeroptions.block {
        pointer-events: none;
    }

    .answeroption {
        padding: 3% 1%;
        margin: 0 2%;
        overflow: visible;
    }

    .bgcontaineranswer {
        width: 90%;
    }

    .answeroptiontext {
        font-size: 0.8em;
    }

    .waitingarea {
        width: 80%;
        height: 300px;
        border: 1px solid #c7c7c7;
        border-radius: .3125em;
        margin-top: .625em;
        margin-bottom: .625em;
        font-family: 'Roboto', sans-serif;
    }

    .waitingtext {
        font-size: 0.5em;
        /* color: #454545; */
        text-align: center;
        margin-top: 4%;
    }

    .waitingtime {
        font-size: 1.2em;
        color: #4C7BFE;
        font-weight: 800;
        text-align: center;
        margin-top: 6%;
    }

    .mcq-question {
        font-size: 1em;
        color: #454545;
        margin-top: 2%;
        font-weight: 600;
        padding: 0;
    }

    .mcq-option {
        font-size: 0.6em;
        color: #454545;
        margin-top: 1%;
    }

    .mcq-options ol {
        list-style-type: upper-alpha;
    }

}

/* meduim screens mobile responsiveness */
@media only screen and (min-width: 600px) and (max-width: 900px) {

    .dumbsplainbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttoncontainer {
        position: absolute;
        bottom: 6vh;
    }

    .carouselelementscontainer {
        display: flex;
        position: relative;
        width: 100%;
        padding: 0;
    }

    .lightmode {
        display: none;
    }

    .darkmode {
        display: none;
    }

    .totd {
        font-size: 0.5em;
    }

    .topic {
        font-size: 1.0em;
    }

    .subtitle {
        display: none;
    }

    .textarea {
        width: 90%;
        height: 300px;
    }

    .textarea p {
        padding: .3125em;
        font-size: 0.5em;
    }

    .dumbnesslevels {
        justify-content: center;
        flex-wrap: wrap;
    }

    .dumbnesslevel {
        /* remove the bg gradient and replace with a solid bg */
        /* background: rgba(123, 123, 123, 0.1);
        justify-content: center;
        align-items: center;
        margin: .1875em;
        padding: .1875em; */
        display: none;
    }
    .dumbnesslevel:hover {
        background: #4C7BFE;
    }

    .dumbnesslevel.selected {
        background: #4C7BFE;
    }

    .dumbnesslevel.greyed {
        filter: grayscale(100%);
        opacity: 0.5;
    }

    .avatar1 {
        position: absolute;
        top: 0;
        width: 60%;
        height: 60%;
        z-index: 5;
    }

    .avatar2 {
        position: absolute;
        top: 0;
        width: 60%;
        height: 60%;
        z-index: 5;
    }
    .avatar3 {
        position: absolute;
        top: 0;
        width: 60%;
        height: 60%;
        z-index: 5;
    }

    .avatar4 {
        position: absolute;
        top: 0;
        width: 60%;
        height: 60%;
        z-index: 5;
    }

    .avatar5 {
        position: absolute;
        top: 0;
        width: 60%;
        height: 60%;
        z-index: 5;
    }

    .avatarlabel {
        position: absolute;
        z-index: 5;
        bottom: 6%;
        padding: 5% 0;
        font-size: 14px;
    }

    .dumbnesslevels {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: .625em;
        margin-bottom: .625em;
        flex-wrap: wrap;
    }

    .answeroptions {
        display: none;
    }

    .answeroptions.block {
        pointer-events: none;
    }

    .answeroption {
        padding: 2% 1%;
        overflow: visible;
    }

    .bgcontaineranswer {
        width: 40%;
        z-index: 1;
    }

    .answeroptiontext {
        font-size: 0.8em;
        margin-top: 25%;
    }

    .waitingarea {
        width: 80%;
        height: 300px;
        border: 1px solid #c7c7c7;
        border-radius: .3125em;
        margin-top: .625em;
        margin-bottom: .625em;
        font-family: 'Roboto', sans-serif;
    }

    .waitingtext {
        font-size: 0.5em;
        /* color: #454545; */
        text-align: center;
        margin-top: 4%;
    }

    .waitingtime {
        font-size: 1.5em;
        color: #4C7BFE;
        font-weight: 800;
        text-align: center;
        margin-top: 6%;
    }

    .carouseldumbnesslevel {
        justify-content: center;
        align-items: center;
        z-index: 0;
        position: relative;
        width: 200px;
        height: 160px;
        padding: 0;
        margin: 0;
    }

    .carouselbgcontainer {
        position: absolute;
        height: 75%;
        bottom: 0;
        background-color: #4C7BFE;
        opacity: 0.1;
        z-index: 1;
        width: 55%;
        padding: 0 17.5%;
    }

    .mcq-question {
        font-size: 1em;
        color: #454545;
        margin-top: 2%;
        font-weight: 600;
        padding: 0;
    }

    .mcq-option {
        font-size: 0.6em;
        color: #454545;
        margin-top: 1%;
    }

}

/* large screens mobile responsiveness */
@media screen and (min-width: 900px) and (max-width: 1200) {
    div.answeroptions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin-top: .625em;
        margin-bottom: .625em;
        flex-wrap: wrap;
    }
}

/* extra large screens mobile responsiveness for microsoft surface tablets */
@media only screen and (min-width: 540px) and (max-width: 600px) {
    div.answeroptions {
        width: 100%;
    }   
}