:root {
  --light-mode-bg: #ffffff;
  --light-mode-text: #000000;
  --dark-mode-bg: #252525;
  --dark-mode-text: #F6F6F6;
}

/* Styles for modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0;
    overflow: hidden;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-width: 400px;
    max-height: 600px;
    min-height: 600px;
    margin: 0;
    position: relative;
    padding: 0;
    overflow: hidden;
  }

  .modal-content-inverted {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 675px;
    min-width: 675px;
    max-height: 508px;
    min-height: 508px;
    margin: 0;
    position: relative;
    z-index: 0;
    padding: 0;
    overflow: hidden;
  }

  .modal-content[data-theme="dark"] {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
  }

  .modal-content-inverted[data-theme="dark"] {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
  }
  
    .modal-content .headercontainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      width: 100%;
      padding: 0;
    }
  
  span.closeOverlay{
    align-self:flex-end;
    cursor: pointer;
    font-size: 1em;
    margin: 20px;
    position: absolute;
    z-index: 10000;
    /* position to the top right */
    top: 0;
    right: 0;
    padding: 0;
    margin-top: 5px;
    color: white;
  }
  /* Optional animation for modal */
  .modal-content {
    animation: modalFadeIn 0.3s ease-in-out;
  }

  .modal-content-inverted {
    animation: modalFadeIn 0.3s ease-in-out;
  }
  
  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
.modal-content ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  margin-top: 100px;
}

.modal-content ol > div {
  margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
    bottom: 0;
    /* width: fit-content;
    height: 100%; */
    z-index: 1;
}

.level{
    font-size: 0.45em;
    color: #4C7BFE;
    margin: 5px 0;
    padding: 0;
    font-weight: 700;
}

p.leveltext{
  font-size: 0.8em;
  color: black;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  line-height: 15px;
}
p.leveltext[data-theme="dark"] {
  color: var(--dark-mode-text);
}

.modal-overlay-off{
    display: none;
}

section#streak {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 50%;
    margin: auto;
    padding-top: .5em;
    padding-bottom: .5em;
}

#score-btn{
    background-color:#8CA8FF;
    border-style: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 1em;
}

#score-value{
    font-size: 1.5em;
    font-weight: 500;
    color: #4C7BFE;
}

p.streak{
    font-size: 35px;
    font-weight: 500;
    color: #4C7BFE;
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 0.65em;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    /* move it left by half of its own width */
    transform: translateX(20%);
    margin-top: 40px;
    z-index: 10000;
    top: 0;
    left: 0;
}

.dqtext {
  font-size: 20px;
}

.streaktext {
  font-size: 16px;
}

.infocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 0;
  /* margin-top: 60px; */
  padding-right: 0;
}

.headerbg {
  position: absolute;
  /* width: 400px;
  height: 146px; */
  width: 400px;
  height: 8%;
  padding-bottom: 30%;
  left: 0px;
  top: 0px;
  background-image: url("../../public/infoheader.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5000;
  border-radius: 4px;
}

@media only screen and (max-width: 400px) {
  
  /* .infocontainer {
    position: absolute;
    top: 0;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: visible;
    padding-bottom: 20px;
  } */

  /* .headercurve{
    display: none;
  } */

  /* .heading {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 60%;
    left: 0;
    transform: none;
    padding: 0 20px;
  } */

  /* .headercontainer{
    position: relative;
    width: 100%;
    height: 100px;
    background: #4C7BFE;
  } */

  /* .modal-content ol {
    margin-top: 20px;
    overflow: visible;
  } */

}

@media only screen and (max-width: 600px) {
  .modal-content-inverted {
    min-width: 400px;
    max-width: 400px;
    min-height: 600px;
    max-height: 600px;
  }
}