.progresstitle {
    font-size: 0.6em;
    padding: 0;
    color: #B1B1B1;
    overflow: visible;
}

.progressscore {
    font-size: 0.6em;
    padding: 0;
    padding: 0 0.4em;
    color: #B1B1B1;
    overflow: visible;
}

.animated-container > div {
    padding: 0;
}

.animated-container > div > div {
    padding: 0;
    line-height: 1.3em;
    font-size: 1.3em;
}

.addsomething {
    padding: 0;
    padding: 0.1em 0.3em;
    font-size: 0.5em;
    background-color: #32BCA3;
    color: white;
    border-radius: 5px;
}

.subsomething {
    padding: 0;
    padding: 0.1em 0.3em;
    font-size: 0.5em;
    background-color: #F59E6C;
    color: white;
    border-radius: 5px;
}

.fade-in {
    opacity: 1;
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
    -moz-animation: fadeIn ease 2.5s;
    -o-animation: fadeIn ease 2.5s;
    -ms-animation: fadeIn ease 2.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    opacity: 0;
    /* animation: fadeOut ease 0.5s; */
    /* -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s; */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 900px) {
    
    .progresstitle {
        font-size: 0.6em;
    }

    .progressscore {
        font-size: 0.6em;
    }

    .progresscontainer {
        margin-bottom: 5px;
    }
}